<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>RCFC Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="groups.size > 0">
		<ion-label>Group</ion-label>
		<ion-select [(ngModel)]="group" (ionChange)="loadValues()">
			<ion-option>All</ion-option>
			<ion-option *ngFor="let group of groups">{{group}}</ion-option>
			<ion-option>Unassigned</ion-option>
		</ion-select>
	</ion-item>
  <ion-list *ngFor="let button of visible_buttons" >
    <button ion-button round full *ngIf="button.type === 'button.simple';" (click)="itemTapped($event, button)">
      {{button.text}}
    </button>
    <ion-item *ngIf="button.type === 'button.toggle';" >
      <ion-label>{{button.text}}</ion-label>
      <ion-toggle checked={{button.state}} (ionChange)="toggleTapped($event, button)"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="button.type === 'input.slider';" >
      <ion-range [(ngModel)]="button.state" min={{button.min}} max={{button.max}} pin="true" (ionChange)="sliderSet($event, button)">
        <ion-label range-left>{{button.min}}</ion-label>
        <ion-label range-right>{{button.max}}</ion-label>
      </ion-range>
    </ion-item>
    <ion-item *ngIf="button.type === 'input.leftright';" class="center-col">
      <span class="big-icon">{{button.text}}</span>
      <ion-col >
        <ion-icon name="arrow-round-back" class="big-icon" (click)="arrowTapped($event, button, 'left')" (touchstart)="$event.target.classList.add('blue');" (touchend)="$event.target.classList.remove('blue');" (mousedown)="$event.target.classList.add('blue');" (mouseup)="$event.target.classList.remove('blue');"></ion-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <ion-icon name="arrow-round-forward" class="big-icon" (click)="arrowTapped($event, button, 'right')" (touchstart)="$event.target.classList.add('blue');" (touchend)="$event.target.classList.remove('blue');" (mousedown)="$event.target.classList.add('blue');" (mouseup)="$event.target.classList.remove('blue');"></ion-icon>
      </ion-col>
    </ion-item>
    <ion-item *ngIf="button.type === 'input.colorpicker';">
      {{button.text}}
      <input [(colorPicker)]="color" hidden [cpToggle]="true" [cpDialogDisplay]="'inline'" disabled [cpOutputFormat]="'rgba'" [style.background]="toRgb(button.state)" [cpDisableInput]="true" [cpAlphaChannel]="'disabled'" (cpSliderChange)="changeColor($event.color, button)" (colorPickerChange)="changeColor($event.color, button)"/>
    </ion-item>
  </ion-list>
</ion-content>
